body{
    background-color: #FFFF;

}

#cabecero{
    background-color: #7D3A1F;
    color: #F2E9E1
}

#navContainer{
    background-color: #d9d9d9;
}

.navBar{
    color: black;
    font-size: 20px;
}

.navBar:hover{
    color: #C0844D; 
}

.active{
    color: black;
    font-weight: bold;
}

.addCliente{
    background-color: #AA948E;
    font-weight: bold;
}

.addCliente:hover{
    background-color: #8b7872;
}

#tarjetaClientes{
    background-color: #F6F1F1;
}

.editCliente{
    background-color: #AA948E;
    font-weight: bold;
    float: right;
}

.editCliente:hover{
    background-color: #8b7872;
}
