body{
    background-color: #FFFF;

}

#cabecero{
    background-color: #7D3A1F;
    color: #F2E9E1
}

#navContainer{
    background-color: #d9d9d9;
}

.navBar{
    color: black;
    font-size: 20px;
}

.navBar:hover{
    color: #C0844D; 
}

.back{
    color: black;
    margin-left: 10px;
    padding-left: 10px;
}

.back:hover{
    color: #C0844D;
}

.active{
    color: black;
    font-weight: bold;
}

.addCompra{
    background-color: #AA948E;
    font-weight: bold;
}

.addCompra:hover{
    background-color: #8b7872;
}

#tarjetaClientes{
    background-color: #F6F1F1;
}

.editCliente{
    background-color: #AA948E;
    font-weight: bold;
    float: right;
}

.editCliente:hover{
    background-color: #8b7872;
}

.guardar{
    float: right;
    margin: 2px;
    font-weight: bold;
    background-color: #716F35;
    color: white;
}

.guardar:hover{
    background-color: #585729;
    
}

.cerrar{
    float: right;
    margin: 2px;
    font-weight: bold;
    background-color: #B24831;
}

.cerrar:hover{
    background-color: #b13d23;
}

.editar{
    background-color: #FFCC4D;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto; 
    width: 40%;
    float: right;
    border-radius: 30px;
}

.editar:hover{
    background-color: #f5b835;
}

.eliminar{
    background-color: #9B180F;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto; 
    width: 40%;
    float: left;
    border-radius: 30px;
}

.eliminar:hover{
    background-color: #83160e;
}

.modalito{
    background-color: #F9F9F9;
}