body{
    background-color: #FFFF;

}

#cabecero{
    background-color: #7D3A1F;
    color: #F2E9E1
}

#navContainer{
    background-color: #d9d9d9;
}

.navBar{
    color: black;
    font-size: 20px;
}

.navBar:hover{
    color: #C0844D; 
}

.active{
    color: black;
    font-weight: bold;
}

.back{
    color: black;
    margin-left: 10px;
    padding-left: 10px;
}

.back:hover{
    color: #C0844D;
}

.agregar{
    background-color: #FBE4B3;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto; 
    width: 20%;
}

.agregar:hover{
    background-color: #fde0a0;
}

#tarjetaInventario{
    background-color: #F2E9E1;
}

#fotoInv{
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.eliminar{
    float: right;
    margin: 2px;
    background-color: #B24831;
}

.eliminar:hover{
    background-color: #b13d23;
}

.editar{
    float: right;
    margin: 2px;
    background-color: #E6D85A;
}

.editar:hover{
    background-color: #e4d341;
}

.material{
    margin-top: auto; margin-bottom: auto; font-weight: bold;
}

.modalito{
    background-color: #F2E9E1;
}

.fotoModal{
    width: 100%;
    height: 100%;
}